<div class="h-screen w-1/2 mx-auto">
  <p-card class="flex flex-col justify-between">

    <p class="mt-6 mb-8 text-5xl">
      Iniciar sesión
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input pInputText formControlName="username" placeholder="correo electrónico" />
      </p-inputgroup>

      <div class="my-6"></div>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <p-password formControlName="password" [feedback]="false" placeholder="contraseña" />
      </p-inputgroup>

      <div class="flex flex-row justify-end mt-8">
        <p-button label="Enviar" type="ngSubmit" [disabled]="!loginForm.valid" />
      </div>
    </form>
  </p-card>
</div>