<div class="w-full flex h-screen bg-primary-600">
  <div
    class="h-10/12 w-2/3 flex flex-row my-auto mx-auto shadow dark:shadow-none shadow-gray-300 rounded-2xl bg-surface-200">

    <img [src]="photo" class="object-cover w-1/2 h-full rounded-tl-2xl rounded-bl-2xl" />

    <div class="w-1/2 px-4 my-24">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="flex flex-row justify-center my-12">
          <p class="text-white text-7xl font-medium">Iniciar Sesión</p>
        </div>

        <input formControlName="username"
          class="bg-surface-400 w-full px-4 py-4 rounded-lg text-surface-600 focus:text-white" placeholder="Email">

        <div class="my-6"></div>

        <input formControlName="password"
          class="bg-surface-400 w-full px-4 py-4 rounded-lg text-surface-600 focus:text-white" placeholder="Password">

        <div class="flex flex-row mt-8">
          <button class="text-white py-4 w-full rounded-3xl"
            [ngClass]="loginForm.valid ? 'bg-primary cursor-pointer' : 'bg-surface-300'" type="ngSubmit"
            [disabled]="!loginForm.valid">
            Enviar
          </button>
        </div>
      </form>
    </div>

  </div>


</div>