<div class="flex flex-col">
  <div class="flex justify-end my-3">
    <app-create-button [title]="'Registrar'" [onClick]="navigateToCreateProfile"></app-create-button>
  </div>

  <div class="mb-4 flex w-full">
    <div class="w-1/2">
      <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text/>
      <p-button type="button" icon="pi pi-refresh" (click)="reset()" text/>
      <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text/>
    </div>

    <div class="w-1/2 flex justify-end">
      <div class="w-2/3">
        <input
          (ngModelChange)="onQueryChange($event)"
          [(ngModel)]="doctorQuery"
          class="dark:bg-surface-50 bg-surface-0 w-full px-4 py-4 rounded-sm focus:outline-none border border-surface-100"
          placeholder="Buscar doctor">
      </div>
    </div>
  </div>

  <app-table [list]="doctors" [columns]="columns"/>

  <app-paginator [from]="from" [to]="to" [totalRecords]="totalRecords"
                 [listOfPages]="listOfPages" [currentPage]="currentPage"
                 [lastPage]="lastPage"
                 (goFirstPage)="loadDoctors(1)"
                 (prev)="prev()"
                 (next)="next()"
                 (loadDoctors)="loadDoctors($event)"/>

</div>
