<table class="table-auto md:table-fixed w-full">
  <thead>
  <tr class="bg-surface-300 border border-surface-100 text-surface-500 dark:text-color">
    @for (col of columns; track col.header) {
      <th class="w-1/2 py-3 border border-surface-200">{{ col.header }}</th>
    }
  </tr>
  </thead>

  <tbody>
    @for (row of items; track row) {
      <tr class="bg-surface-50">
        @for (col of columns; track col.header) {
          <td class="py-3 px-2 border border-surface-100">
            {{ getCellValue(row, col) }}
          </td>
        }
      </tr>
    }
  </tbody>
</table>

@if (enablePagination) {
  <app-paginator [from]="from" [to]="to" [totalRecords]="totalRecords"
                 [listOfPages]="listOfPages" [currentPage]="currentPage"
                 [lastPage]="lastPage"
                 (goFirstPage)="handleGoFirstPage()"
                 (prev)="handlePrevPage()"
                 (next)="handleNextPage()"
                 (loadItems)="handleLoadDoctors($event)"
  />
}

