@import "tailwindcss";

@plugin "tailwindcss-primeui";

@font-face {
  font-family: 'Urbanist';
  src: url('../public/assets/fonts/urbanist/Urbanist-ExtraBold.ttf');
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: 'Urbanist';
  src: url('../public/assets/fonts/urbanist/Urbanist-Bold.ttf');
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: 'Urbanist';
  src: url('../public/assets/fonts/urbanist/Urbanist-SemiBold.ttf');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'Urbanist';
  src: url('../public/assets/fonts/urbanist/Urbanist-Medium.ttf');
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'Urbanist';
  src: url('../public/assets/fonts/urbanist/Urbanist-Regular.ttf');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'Urbanist';
  src: url('../public/assets/fonts/urbanist/Urbanist-Light.ttf');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Urbanist';
  src: url('../public/assets/fonts/urbanist/Urbanist-ExtraLight.ttf');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Urbanist';
  src: url('../public/assets/fonts/urbanist/Urbanist-Thin.ttf');
  font-weight: 300;
  font-style: normal
}

html,
body {
  font-family: 'Urbanist', sans-serif;
}

* {
  font-family: 'Urbanist', sans-serif;
}
