<div>
  <div class="mb-4 flex w-full">
    <div class="w-1/2">
      <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text/>
      <p-button type="button" icon="pi pi-refresh" (click)="reset()" text/>
      <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text/>
    </div>

    <div class="w-1/2 flex justify-end">
      <div class="w-2/3">
        <p-floatlabel variant="on">
          <input class="w-full" pInputText id="on_label" (ngModelChange)="onQueryChange($event)"
                 [(ngModel)]="peopleQuery" autocomplete="off"/>
          <label for="on_label">Buscar perfil</label>
        </p-floatlabel>
      </div>
    </div>
  </div>
  <div>
    <p-table
      [value]="people"
      [paginator]="enablePagination"
      [rows]="perPage"
      [first]="first"
      [totalRecords]="totalRecords"
      [lazy]="true"
      (onLazyLoad)="loadPeople($event)"
      [rowsPerPageOptions]="[10, 25, 50]"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
      showGridlines
      stripedRows
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width:25%">Nombre</th>
          <th style="width:25%">Correo electrónico</th>
          <th style="width:25%">Teléfono</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-person>
        <tr>
          <td>{{ person.name }}</td>
          <td>{{ person.email }}</td>
          <td>{{ person.phone }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
