<div>
  <div class="mb-4 flex w-full">
    <div class="w-1/2">
      <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text/>
      <p-button type="button" icon="pi pi-refresh" (click)="reset()" text/>
      <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text/>
    </div>

    <div class="w-1/2 flex justify-end">
      <div class="w-2/3">
        <p-floatlabel variant="on">
          <input class="w-full" pInputText id="on_label" (ngModelChange)="onQueryChange($event)"
                 [(ngModel)]="peopleQuery" autocomplete="off"/>
          <label for="on_label">Buscar perfil</label>
        </p-floatlabel>
      </div>
    </div>
  </div>
  <div>

    <app-table [columns]="columns"
               [currentPage]="paginatorMeta.current_page"
               [from]="paginatorMeta.from"
               [lastPage]="paginatorMeta.last_page"
               [listOfPages]="paginatorMeta.pages"
               [items]="people"
               [to]="paginatorMeta.to"
               [totalRecords]="paginatorMeta.total"
               (goFirstPage)="loadProfiles(1)"
               (prev)="prev()"
               (next)="next()"
               (loadItems)="loadProfiles($event)"/>
  </div>
</div>
