<div class="relative h-screen bg-white">
    <div class="absolute top-0 left-0 w-full h-[30vh] bg-gradient-to-b from-white/0 to-white">
        <div class="flex flex-row justify-center w-10/12 mx-auto mt-10">
            <div class="flex flex-col space-y-4">
                <div class="mx-auto mb-12 mt-4">
                    <p class="text-5xl font-normal text-green-700">Soluciones rápidas</p>
                </div>

                <div class="flex space-x-6 spacey-6 text-black" style="height: 70vh;">
                    <div
                        class="rounded-sm bg-white shadow-sm shadow-gray-200 px-4 py-2 transform transition-transform duration-300 hover:-translate-y-4">
                        <div class="flex flex-col space-y-2">
                            <p class="text-2xl">Chequeos y limpiezas profesionales</p>
                            <p class="text-md">Mantener una sonrisa saludable va más allá del cepillado diario.
                                Nuestros chequeos completos permiten detectar cualquier problema a tiempo, mientras que
                                las limpiezas profesionales eliminan placa, sarro y manchas, protegiendo tus dientes y
                                encías para prevenir enfermedades a largo plazo.</p>
                        </div>
                    </div>
                    <div
                        class="rounded-sm bg-white shadow-sm shadow-gray-200 px-4 py-2 transform transition-transform duration-300 hover:-translate-y-4">
                        <div class="flex flex-col space-y-2">
                            <p class="text-2xl">Ortodoncia y alineadores invisibles</p>
                            <p class="text-md">Una sonrisa alineada no solo mejora tu apariencia, sino también tu salud
                                dental. Ofrecemos tratamientos modernos, incluyendo brackets tradicionales y alineadores
                                invisibles, que corrigen la posición de tus dientes de manera cómoda, discreta y
                                efectiva, adaptándose a tu estilo de vida.</p>
                        </div>
                    </div>

                    <div
                        class="rounded-sm bg-white shadow-sm shadow-gray-200 px-4 py-2 transform transition-transform duration-300 hover:-translate-y-4">
                        <div class="flex flex-col space-y-2">
                            <p class="text-2xl">Blanqueamiento dental seguro</p>
                            <p class="text-md">Recupera la luminosidad natural de tu sonrisa con nuestros tratamientos
                                de blanqueamiento profesional. Utilizamos técnicas avanzadas que actúan de forma segura
                                sobre el esmalte dental, eliminando manchas y decoloraciones sin comprometer la salud de
                                tus dientes ni causar sensibilidad excesiva.</p>
                        </div>
                    </div>

                    <div
                        class="rounded-sm bg-white shadow-sm shadow-gray-200 px-4 py-2 transform transition-transform duration-300 hover:-translate-y-4">
                        <div class="flex flex-col space-y-2">
                            <p class="text-2xl">Tratamientos de urgencia y cuidado integral</p>
                            <p class="text-md">Los problemas dentales pueden surgir en cualquier momento. Nuestro equipo
                                está preparado para ofrecer atención inmediata ante dolores, fracturas o accidentes
                                dentales, además de brindar un seguimiento personalizado y planes de cuidado integral
                                que aseguran la salud de tu boca a largo plazo.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>